<!--NAVIGATION-->

<a href="https://colab.research.google.com/github/bpesquet/machine-learning-katas/blob/master/notebooks/katas/tools/DataAnalysis.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open in Google Colaboratory"></a>

## Instructions

This is a self-correcting exercise generated by [nbgrader](https://github.com/jupyter/nbgrader). 

Fill in any place that says `YOUR CODE HERE` or `YOUR ANSWER HERE`. Run subsequent cells to check your code.

---

# Kata: Data Analysis

inspired by an activity in the [Open Machine Learning Course](https://mlcourse.ai/).

## Part 1 : Loading data

In [1]:
# Import base packages
import numpy as np
import pandas as pd

### Question

Use Pandas to load the dataset located [here](https://raw.githubusercontent.com/bpesquet/machine-learning-handbook/master/datasets/athlete_events.csv), which was extracted from this [Kaggle competition](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/). Store it into a DataFrame named `df_olympics`.

In [2]:
df_olympics = pd.read_csv('https://raw.githubusercontent.com/bpesquet/machine-learning-handbook/master/datasets/athlete_events.csv')

In [3]:
print(f'df_olympics: {df_olympics.shape}')

assert isinstance(df_olympics, pd.DataFrame)
assert df_olympics.shape == (271116, 15)

df_olympics: (271116, 15)

## Part 2: Exploring data

### Question

Print general information about the DataFrame.

In [4]:
df_olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

### Question

Print and observe the first 10 records of the dataset.

In [5]:
df_olympics.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

### Question

Print and observe 5 random records of the dataset.

In [6]:
df_olympics.sample(5)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
102413,51795,Hans Ikl,M,30.0,NaN,NaN,Switzerland,SUI,1936 Summer,1936,Summer,Berlin,Equestrianism,"Equestrianism Men's Jumping, Team",NaN
2739,1527,Souad At Salem (-Mahour-Bacha),F,29.0,158.0,50.0,Algeria,ALG,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Marathon,NaN
185532,93278,Arnaldo Prez,M,17.0,NaN,NaN,Puerto Rico,PUR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Men's 100 metres Butterfly,NaN
196034,98432,Oscar Raise,M,23.0,186.0,72.0,Italy,ITA,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Men's High Jump,NaN
264366,132301,Hiromi Yamamoto (-Yamanaka),F,23.0,161.0,55.0,Japan,JPN,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 3,000 metres",NaN